* {
    box-sizing: border-box;
}


header {
    display:flex;
    color: #777;
    text-align: right;
}

.banner {
    background-image: url(../img/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.products {
    display: flex;
    flex-direction: row;
}

.options {
    display: flex;
    flex-direction: column;
}


footer {
    background-color: #333;
}